

h3 {
    color: white;
}

p {
    color: #A7CCED;
}

.jumbotron {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.219)), url(img/fancy-pants.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;

}



@media (min-width: 600px) {
    body {
        background-color:green;
    } 
}